<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    
    <h1>Our Cupcakes</h1>


    <ul id="cupcake-list">

    </ul>


    <h2>Add a New Cupcake</h2>

    <form action="" id="add-cupcake-form">
        <label for="flavor-form">Flavor: </label>
        <input type="text" id="flavor-form" name="flavor-form">
        <label for="size-form">Size: </label>
        <input type="text" id="size-form" name="size-form">
        <label for="rating-form">Rating: </label>
        <input type="text" id="rating-form" name="rating-form">
        <label for="image-form">Image URL: </label>
        <input type="text" id="image-form" name="image-form">
    </form>

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/cupcakes.js"></script>
</body>
</html>